<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="suite" parallel="methods">
	<test name="Test1">
		<parameter name="browser" value="FF" />
		<classes>
			<class name="com.training.testsuites.HandleInputAlertTest" />
		</classes>
	</test>

	<test name="Test2">
		<parameter name="browser" value="GC" />
		<classes>
			<class name="com.training.testsuites.HandleInputAlertTest" />
		</classes>
	</test>
</suite>
